<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About US</title>
    <link rel="stylesheet" href="../static/CSS/about.css">
</head>
<body>
    <div class="first">
        <div class="email">index@youremail.com</div>
        <div class="number"> +0123-456-5678</div>
        <div class="login"> Login / Register</div>
        <div class="in"> <b>in</b></div>
        <div class="insta"></div>
        <div class="twitter"></div>
        <div class="fb"></div>
        <div class="follow">Follow Us: </div>
    </div>


    <div class="second">
        <div class="logo"> </div>
        <div class="edubin"></div>
    <nav class="navbar">
        <ul>
<li><a href="login.html">LOGIN</a></li>
<li><a href="">CONTACTS</a></li>
<li><a href="services.html">MEMBERSHIP</a></li>
<li><a href="About.html">ABOUT US</a></li>
<li><a href="index.html">HOME</a></li>


</ul>
    <div class="pic">
        <h1 class="type">ABOUT US</h1>
        <p class="para"><b>At our core, we’re a strength and <br> conditioning gym but we recognise the latest fitness trends. <br> We’ve tapped into the increasingly-popular yoga, <br> spin and HIIT markets to bring fitness fans <br> of all abilities the workout they crave.</b></p>
        

    </div>
    
</body>
</html>