<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cutie's Web Page</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<body>
    <div class="first">
        <div class="email">index@youremail.com</div>
        <div class="number"> +0123-456-5678</div>
        <div class="login"> Login / Register</div>
        <div class="in"> <b>in</b></div>
        <div class="insta"></div>
        <div class="twitter"></div>
        <div class="fb"></div>
        <div class="follow">Follow Us: </div>
    </div>


    <div class="second">
        <div class="logo"> </div>
        <div class="edubin"></div>
    <nav class="navbar">
        <ul>
<li><a href="login.html">LOGIN</a></li>
<li><a href="">CONTACTS</a></li>
<li><a href="services.html">MEMBERSHIP</a></li>
<li><a href="About.html">ABOUT US</a></li>
<li><a href="index.html">HOME</a></li>


</ul>
    </nav>
    <div class="pic">
<div class="type"><b>BUILD YOUR BODY <br>TRANSFORM YOUR BODY</b></div>
<button class="get"><b>Get Started</b></button>
<button class="read"><b>Read More</b></button>

<div class="best">
  <div class="be"> <b>Best Fitness <br> Platform</b> </div>
<div class="lang">
    <div class="langpic"></div>
    <div class="la"><b>Literature</b></div>
</div>
<div class="business">
    <div class="buspic"></div>
    <div class="b"><b>Business</b></div>
 </div>
    <div class="lit">
        <div class="litpic"></div>
        <div class="li"><b>Languages</b></div>
    </div>
    </div>
    

    
    
    
    
    </div>















</body>
</html>