<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMBERSHIP</title>
    <link rel="stylesheet" href="../static/CSS/service.css">
</head>
<body>
    <header>
        <div class="first">
            <div class="email">index@youremail.com</div>
            <div class="number"> +0123-456-5678</div>
            <div class="login"> Login / Register</div>
            <div class="in"> <b>in</b></div>
            <div class="insta"></div>
            <div class="twitter"></div>
            <div class="fb"></div>
            <div class="follow">Follow Us: </div>
        </div>
    
    
        <div class="second">
            <div class="logo"> </div>
            <div class="edubin"></div>
        <nav class="navbar">
            <ul>
    <li><a href="login.html">LOGIN</a></li>
    <li><a href="">CONTACTS</a></li>
    <li><a href="services.html">MEMBERSHIP</a></li>
    <li><a href="About.html">ABOUT US</a></li>
    <li><a href="index.html">HOME</a></li>
    
    
    </header>
    <main>
        <section>
            <h2>Basic Plan</h2>
            <p>Price: 2000/month
                Access to gym during regular hours      
                Standard gym equipment
                1 group class per month
                2 fitness consultation</p>
        </section>

        <section>
            <h2>Premium Plan</h2>
            <p>

                Price: 4000/month   
                24/7 gym access     
                Unlimited group classes      
                4 personal training sessions/month      
                Premium equipment & recovery area
                </p>
        </section>

        <section>
            <h2>VIP Plan</h2>
            <p>10000/month - All facilities, VIP lounge access, and priority booking for classes.</p>
        </section>
    </main>

    <footer>
        <p>Our Gym website</p>
    </footer>
    
</body>
</html>